@import "@fortawesome/fontawesome-free/css/all.min.css";


:root {
  --background: #ffffff;
  --foreground: #171717;
}


.fintoo-blue{
	color: #042b62 !important;
}
@media only screen and (min-width: 768px) and (max-width: 1280px) {
	html {
		font-size: 12px;
	}
}

@media only screen and (min-width: 1281px) and (max-width: 1680px) {
	html {
		font-size: 14px;
	}
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

input:-internal-autofill-selected
{
	background-color: #fff !important;
	color: #000;
}

body {
  color: var(--foreground);
  background: var(--background);
	font-family: "Red Hat Text", "Arial", "Helvetica", "sans-serif" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
.header-section-bold-title {
  color: #060606;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.5rem;
}



@media only screen and (max-width: 600px) {
  .header-section-bold-title {
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 2rem;
    text-align: center;
  }
}
	.footer .social-media-links {
		justify-content: flex-start;
	}



	.footer .footer-heading {
		font-size: 16px;
		margin-top: 1rem;
	}

	.footer .logo {
		margin-bottom: 20px;
		text-align: left;
	}

	.footer li
	 {
		font-size: 14px;
	}
  .footer .footer-navigation li a:hover {
		color: #10d0f8;
	}
  .driver-popover footer {
	background: none !important;
	margin-top: 1.4rem;
}



footer {
	background: #042b62;
	color: #fff;

}

.footer .footer-bg {
	width: 100%;
	margin-top: -50px;
	margin-left: -17px;
	position: relative;
	z-index: 3;

}

.footer .footer-heading {
	font-size: 16px;

}

.footer .footer-navigation {
	color: #0e8aa4;

}

.footer .footer-navigation li a {
	color: inherit;
	transition: 0.2s all;
	font-size: 16px;

}

.footer .footer-navigation li a:hover {
	color: #10d0f8;

}

.footer .social-media-links {
	display: flex;
	align-items: center;
	justify-content: center;

}

.footer .logo {
	text-align: center;
	display: block;

}

.footer .footer-bg {
	width: 100%;
	margin-top: -50px;
	margin-left: -17px;
	position: relative;
	z-index: 3;

}

.footer .copyright {
	padding: 10px;
	border-top: 1px solid #fff;

}

.footer .copyright p {
	font-size: 12px;
	line-height: 20px;
	letter-spacing: 0.2px;
	text-align: justify;

}

footer ul {
	list-style-type: none;
	padding: 0;
	margin: 0;

}

footer a {
	color: #000;
	text-decoration: none;
	cursor: pointer;
	font-size: 1rem !important;

}
.disabled{
	opacity: 0.5;
	cursor: default !important;
}


.footer .top-footer {
	padding: 20px 0;

}

.srv-validation-message,.error{
    font-size: 12px;
}
.srv-validation-message {
  font-size: 0.9rem;
  color: red;
  font-weight: 400;
}
.main-layout .sub-header,
h3 {
  font-size: 18px;
  font-weight: 500;
  /* padding-top: 1rem; */
  padding-bottom: 1rem;
}


.calendlyfp{
	    background: linear-gradient(90deg, #161c2dcc 40%, #161c2d00 60%), url('https://www.fintoo.in/web/static/media/calendy.1686e0c69d685fde1858.webp');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff !important;
    padding: 1rem 0;
}
.calendlyfp .questiontitle h3{
	    color: #fff !important;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: left;


}
@media only screen and (max-width: 600px) {
.calendlyfp .questiontitle h3{
    font-size: 1.5rem;
        font-weight: 700;



}
.calendlyfp{
	padding: 3rem 0 2rem 0;
}
}
.calendlyfp .questiontitlehd>h3{
	display: none;
}
